<?xml version="1.0" encoding="utf-8" ?>
<wxsmith>
	<object class="wxFrame" name="NewFrame">
		<title>Лабораторная 3</title>
		<centered>1</centered>
		<icon>C:\Program Files (x86)\Steam\steam\games\85c721efacb1b0903fa11e993291c33da8f643d1.ico</icon>
		<size>470,393d</size>
		<pos_arg>1</pos_arg>
		<size_arg>1</size_arg>
		<handler function="OnClose" entry="EVT_CLOSE" />
		<object class="mpWindow" name="ID_MATHPLOT1" variable="MathPlot1" member="yes">
			<pos>73,112</pos>
			<focused>1</focused>
			<style>wxRAISED_BORDER</style>
			<handler function="OnMathPlot1Paint" entry="EVT_PAINT" />
			<handler function="OnMathPlot1Resize" entry="EVT_SIZE" />
			<object class="mpAxis" name="wxID_ANY" variable="XAxis" member="yes">
				<mLabel>X</mLabel>
				<mAlign>mpALIGN_BORDER_LEFT</mAlign>
				<mTics>0</mTics>
				<size>132,105</size>
				<minsize>100,100</minsize>
				<maxsize>200,200</maxsize>
			</object>
			<object class="mpAxis" name="wxID_ANY" variable="YAxis" member="yes">
				<mType>Y-Axis</mType>
				<mLabel>Y</mLabel>
				<mAlign>mpALIGN_BORDER_LEFT</mAlign>
				<mTics>0</mTics>
				<pos>151,346</pos>
			</object>
			<object class="mpMarker" name="ID_MARKER1" variable="Marker1" member="yes">
				<mLabelText>*</mLabelText>
				<mXpos>5</mXpos>
				<mYpos>3</mYpos>
				<mPenColour>wxSYS_COLOUR_HIGHLIGHT</mPenColour>
				<pos>369,252</pos>
				<size>23,17</size>
			</object>
		</object>
	</object>
</wxsmith>
